.Link {
    text-decoration: none;
}

.navLink {
    color: gray;
}

.navLink:hover {
    font-weight: bold;
    color: rgb(112, 112, 112);
}

.authLink {
    color: green;
}

.authLink:hover {
    font-weight: bold;
    color: rgb(1, 95, 1);
}

.banner2Opacity {
    background-color: wheat;
    opacity: 0.2;
}

.omeletBackground {
    background-image: url("./image/omelet.jpg");
}